<!DOCTYPE html>
<html>
<head>
	<title>Earthquakes accuracy vs. Magnitude</title>
	<!--  Plotly.js-->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<!-- adding in jquery because WE CAN -->
	<script src="src/jq.min.js"></script>

	<!-- Papa parse for csv -->
	<script src="src/papaparse.min.js"></script>

</head>

<body>
	<style>
	h1{
		padding-top: 20px;
		font-size: 24px;
		letter-spacing: 4px;
	}
	p{
		font-size: 12px;
		letter-spacing: 2px;
	}
		h1,p{
			text-transform: uppercase;
			text-align: center;
			font-family: "Helvetica";
		}

	</style>
	<div>
		<h1> Earthquake accuracy and magnitude</h1>
		<p>
			Where each dot is an earthquake, size correlating to its magnitude, shown on hover.
		</p>
	</div>
	<div id="tester" style="width:1000;height:1200;"></div>

	<script>
		// create lists for x and y axis
		var nsts =[];
		var rmss = [];
		var sizes=[];
		var layout = {
			yaxis:{
				range:[0,1],
				zeroline:false,
				title:"Inaccuracy of estimated arrival time"
			},
			xaxis:{
				zeroline:false,
				title:"Number of seismic stations"
			},
			height: 600,
			width: 1200,
			hovermode:'closest',
		};

		//P A R S E
      var filePath = "data/earthquakes_all_month.csv";
      Papa.parse(filePath, {
        download:true,
				header:true,
				complete: function(results,file){
					console.log("Finished parsing map file!");
          // go through results and plot
					for (i = 0; i<results.data.length; i++){
						var strNst = results.data[i].nst;
						var strRms = results.data[i].rms
						var nst = parseFloat(strNst);
						var rms = parseFloat(strRms);
						var lat = parseFloat(results.data[i].latitude);
						var long = parseFloat(results.data[i].longitude);
            var mag = parseFloat(results.data[i].mag);
						var place = results.data[i].place;
						if (!isNaN(strRms) && !isNaN(strNst)){
							nsts.push(nst);
							rmss.push(rms);
							sizes.push(mag*5);
						}
					}
				TESTER = document.getElementById('tester');
				Plotly.plot( TESTER, [{
					x: nsts,
					y: rmss,
					mode: 'markers',
	  			type: 'scatter',
					text: sizes,
					hoverinfo: "text",
					marker:{
						size: sizes,
						opacity: 0.4,
						color: "#e61a39"
					}
				}], layout);
				}
			});
		// }
	</script>
</body>
